<div class="columns medium-8 medium-centered" style="padding:50px;">
  <div class="row">
    <div class="panel">
      <h3>Chef Automate Credentials</h3>
    </div>
  </div>
  <div class="row panel">
    Log into Chef Automate <a href="/" target="_blank">here</a> using the admin credentials below.
  </div>
  <div class="row panel">
    <div class="columns medium-5">
      <strong>Enterprise Name:</strong>
    </div>
    <div class="columns medium-3">
      <pre>default</pre>
    </div>
  </div>
  <div class="row panel">
    <div class="columns medium-5">
      <strong>Admin User:</strong>
    </div>
    <div class="columns medium-3">
      <pre>admin</pre>
    </div>
  </div>
  <div class="row panel">
    <div class="columns medium-5">
      <strong>Admin Password:</strong>
    </div>
    <div class="columns medium-3">
      <pre><%= @credentials['admin_password'] %></pre>
    </div>
  </div>
  <div class="row panel">
    <div class="columns medium-5">
      <strong>Builder User:</strong>
    </div>
    <div class="columns medium-3">
      <pre>builder</pre>
    </div>
  </div>
  <div class="row panel">
    <div class="columns medium-5">
      <strong>Builder Password:</strong>
    </div>
    <div class="columns medium-3">
      <pre><%= @credentials['builder_password'] %></pre>
    </div>
  </div>
</div>
