@import '~@angular/material/theming';

@include mat-core();

$chef-orange: #FE6100;
$ebony-clay: #212334;
$royal-blue: #3C6DF0;
$malibu: #648FFF;
$pink: #DC267F;
$violet: #C22DD5;
$indigo: #785EF0;
$science-blue: #0075DB;
$white: #FFFFFF;

$chef-primary: $chef-orange;
$chef-primary-dark: $ebony-clay;
$chef-primary-bright: $royal-blue;
$chef-primary-light: $malibu;
$chef-critical: $pink;
$chef-major: $violet;
$chef-minor: $indigo;
$chef-success: $science-blue;

$chef-mat-primary: (
  100: $chef-primary-bright,
  500: $chef-primary-bright,
  contrast: (
    500: $white
  )
);

$chef-mat-accent: (
  100: $chef-primary,
  500: $chef-primary,
  contrast: (
    500: $white
  )
);

$chef-mat-warn: (
  100: $chef-critical,
  500: $chef-critical,
  contrast: (
    500: $white
  )
);

$chef-primary: mat-palette($chef-mat-primary);
$chef-accent:  mat-palette($chef-mat-accent);
$chef-warn:    mat-palette($chef-mat-warn);
$chef-theme: mat-light-theme($chef-primary, $chef-accent, $chef-warn);

@include angular-material-theme($chef-theme);
